@model JobBoard.Models.JobOffer

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>JobOffer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @using (Html.BeginForm("Add", "JobOffers", FormMethod.Post, new { enctype="multipart/form-data" }))
                {
                    @Html.ValidationSummary()

                    <span>Title:</span> @Html.TextBoxFor(x => x.Title)
                    <br>
                    <span>Descripton:</span> @Html.TextAreaFor(x => x.Description,10,150,new {})
                    <br>
                    <span>Tags (Not functional yet) </span>
                    <br>
                    
                        
                    <tr dir="ltr">
                    @for (int i = 0; i < ((List<Tag>)Html.ViewData["Tags"]).Count;i++)
                    {
                        <td>
                        @Html.CheckBoxFor(x => ((List<bool>)Html.TempData["TagsSelected"])[i])
                        @(((List<Tag>)Html.ViewData["Tags"])[i].Name)
                        </td>

                    }
                    </tr>
                    <br />
                    <input type="submit" value="Create" class="btn btn-primary" />

                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Browse">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
