@model IEnumerable<JobBoard.Models.JobOffer>

@{
    ViewBag.Title = "Browse Owned";
}

<h2>Browse</h2>

@if (Html.TempData["WasSuccess?"] != null)
{
    <br>
    @switch (Html.TempData["WasSuccess?"])
    {
        case 0:
            <h3>Success</h3>
            break;

        case 1:
            <h3>Failed</h3>
            break;
    }

    <br>
}

<p>
    @Html.ActionLink("Create a new Posting", "Add")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h3>@item.Title</h3>
                <pre>@item.Description</pre>
                <br>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
