@model IEnumerable<JobBoard.Models.JobOffer>

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

@if (Html.TempData["WasSuccess?"] != null)
{
    <br>
     @switch (Html.TempData["WasSuccess?"])
        {
            case 0:
                <h3>Success</h3>
                break;

            case 1:
                <h3>Failed</h3>
                break;
        }
  
    <br>
}

<form asp-action="Browse" method="post">

    <input name="Search" type="text" />
    <input type="submit" value="Search" class="btn btn-primary" />

</form>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
                <h3>@item.Title</h3>
                <h7> <a asp-action="ViewAccount" asp-controller="Account" asp-route-id="@item.CompanyID" >
                        @((item.OwnedBy.UserName))
                </a></h7>
                <br>
                <pre>@item.Description</pre>
                <a asp-action="Apply" asp-controller="JobOffers" asp-route-OfferId="@item.Id">
                    Apply!
                </a>
            <br>

        </td>
    </tr>
}
</table>
