@using Microsoft.AspNetCore.Identity
@model IEnumerable<JobBoard.Models.JobOffer>
@inject UserManager<JobBoardAccount> _userManager;
@{
    ViewBag.Title = "Browse";

    bool isAdmin = false;
    var user= await _userManager.GetUserAsync(User);
    if (user != null)
    {
        isAdmin= user.Email == "admin@admin.com";
    }
}

<h2>Browse Job Offers</h2>

@if (Html.TempData["WasSuccess?"] != null)
{
    <br>
    @switch (Html.TempData["WasSuccess?"])
    {
        case 0:
            <h3>Success</h3>
            break;

        case 1:
            <h3>Failed</h3>
            break;
    }

    <br>
}

<form asp-action="Browse" method="post">

    <input name="Search" type="text" />
    <input type="submit" value="Search" class="btn btn-primary" />

</form>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
                <h3>@item.Title</h3>
                <h7> <a asp-action="ViewAccount" asp-controller="Account" asp-route-id="@item.CompanyID" >
                        @((item.OwnedBy.UserName))
                </a></h7>
                <br>
                <pre>@item.Description</pre>
                <a asp-action="Apply" asp-controller="JobOffers" asp-route-OfferId="@item.Id">
                    Apply!
                </a>
                 | 
                @if(isAdmin)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            <br>

        </td>
    </tr>
}
</table>
